<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin10.spidermanage.mapper.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jin10.spidermanage.vo.Category">
        <id column="id" property="id"/>
        <result column="category_name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <collection property="labels"
                    select="com.jin10.spidermanage.mapper.LabelMapper.findLabelByCategoryId"
                    column="id">
        </collection>

    </resultMap>





    <select id="getAll" resultMap="BaseResultMap">
        select id, category_name, parent_id from category;
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select * from category
        where id = #{id}
    </select>


</mapper>
