<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin10.spidermanage.mapper.LabelMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jin10.spidermanage.vo.LabelVO">
        <id column="id" property="lid"/>
        <result column="label_name" property="labelName"/>
        <result column="category_id" property="gid"/>
        <result column="time_desc" property="timeDesc"/>
        <result column="demand_desc" property="demandDesc"/>
        <result column="spider_id" property="spiderId"/>
        <result column="param" property="param"/>
        <result column="cron" property="cron"/>
        <result column="open" property="open"/>
        <result column="task_id" property="taskId"/>
        <result column="executor_id" property="executorId"/>
        <result column="path" property="path"/>
        <result column="creator_id" property="creatorId"/>
        <result column="updater_id" property="updaterId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="updater" javaType="java.lang.String"
             select="com.jin10.spidermanage.mapper.UserMapper.findById" column="updater_id">
        </association>
        <association property="creator" javaType="java.lang.String"
             column="creator_id" select="com.jin10.spidermanage.mapper.UserMapper.findById">
        </association>
        <association property="server" javaType="com.jin10.spidermanage.vo.ServerVO"
          column="server_id" select="com.jin10.spidermanage.mapper.ServerMapper.findById">
        </association>
        <collection property="img" ofType="com.jin10.spidermanage.vo.ImlUrl"
                    select="com.jin10.spidermanage.mapper.ImgUrlMapper.findByLabelId"
                    column="id">
        </collection>
        <collection property="spiderLink"
                    select="findLinkByLabelId"
                    column="id">
        </collection>
    </resultMap>

    <resultMap id="resultMap" type="com.jin10.spidermanage.vo.LabelVO1">
        <id column="id" property="id"></id>
        <result column="label_name" property="name"></result>
    </resultMap>

    <resultMap id="baseResult" type="com.jin10.spidermanage.vo.Category">
        <id column="id" property="id"/>
        <result column="label_name" property="name"/>
    </resultMap>


    <select id="findLabelByCategoryId" parameterType="_int" resultMap="resultMap">
        select id, label_name from label
        where category_id = #{id}
    </select>

    <select id="getAll" resultMap="BaseResultMap">

        select * from label;

    </select>


    <select id="findLinkByLabelId" parameterType="_int" resultType="java.lang.String">

        select link from link
        where label_id = #{id};

    </select>

    <select id="getById" resultMap="BaseResultMap">

        select * from label
        where id = #{id};

    </select>

    <insert id="addElement" useGeneratedKeys="true" keyProperty="lid" keyColumn="id">
        insert into
        label(category_id, label_name, time_desc, demand_desc, spider_id, param, cron, auto_distribution, executor_id, server_id, path, creator_id, updater_id)
        values
        (#{body.gid},#{body.labelName},#{body.timeDesc},#{body.demandDesc},#{body.spiderId},#{body.param},#{body.cron},#{body.autoDistribution}, #{body.executorId}, #{body.serverId}, #{body.path}, #{body.creatorId}, #{body.updaterId})

    </insert>

    <select id="getByLabelLike" resultType="com.jin10.spidermanage.bean.label.Search">
        select id, label_name, category_id from  label
        where label_name LIKE CONCAT('%',#{condition},'%')
    </select>



    <select id="findByCategoryId" resultMap="baseResult">
       select id, label_name from label
        where category_id = #{id}
    </select>
</mapper>
